# Файл оставлен для совместимости со старым способом запуска проекта.
# Основным источником зависимостей является pyproject.toml и Poetry.
numpy>=1.26.4,<2.0
pandas>=2.2.2,<3.0
scikit-learn>=1.5.1,<2.0
statsmodels>=0.14.2,<0.15
matplotlib>=3.9.1,<4.0
statsforecast>=1.7.8,<2.0
mlforecast>=0.13.4,<1.0
